html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  border: 0;
  padding: 0;

  background: black;
}

.dish {
  -webkit-filter: url('#goo');
  filter: url('#goo');

  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.blob {
  border: 1px solid #888;
  position: absolute;
  border-radius: 50%;
}
